/* startb of banner css */
body{
    background-image: url('./img/pdpBg.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
}
.product-view__heading.product-heading{
    top: 100px;
    position: relative;
    font-size: 8px;
}
.discountBanner{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: max-content;
    padding: 10px;
    background-color: #be0c11;
    overflow: hidden;
    color: white;
    text-align: center;
}
.hidden{
    display: none;
}

